body{
    background-color: aqua;
}
.from{
    width: 300px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color:aquamarine;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 320px;
}
.input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}
.input:focus{
    border-color: #4a90e2;
}
button{
  background-color: #4a90e2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #357ab8;
}
.link{
    text-align: center;
  font-size: 13px;
   color: #4a90e2;
  text-decoration: none;
  font-weight: 500;
    outline: none;
}
.link:hover{
      text-decoration: underline;
}
